
.vs/ZERP Business Solution/v16/.suo
*.json
.vs/ZERP Business Solution/v17/.suo
.vs/ZERP Business Solution/v16/.suo
.vs/ZERP Business Solution/project-colors.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/ZERP Business Solution/v17/.suo
.vs/ZERP Business Solution/v16/.suo
.vs/ZERP Business Solution/project-colors.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
/.vs/ZERP Business Solution
/bin/x64
/obj
/.cr/personal
/PARSELL Setup/Debug
